{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block header %}
{{ object.title }}
{% endblock %}

{% block subheader %}
{{ object.publish }}
{% endblock %}

{% block content %}
{{ object.body|linebreaks }}
<p>
  <a href="{% url 'articles-index' %}">back to the articles list</a>
</p>

<div class="comments-box">
  {% get_comment_count for object as comment_count %}
  {% if comment_count %}
  <h5>
    {% blocktrans count comment_count=comment_count %}
    There is {{ comment_count }} comment below.
    {% plural %}
    There are {{ comment_count }} comments below.
    {% endblocktrans %}
  </h5>
  <hr/>
  {% endif %}
  
  {% if object.allow_comments %}
  <div class="comment">
    <h4>Post your comment</h4>
    <div>
      {% render_comment_form for object %}
    </div>
  </div>
  {% else %}
  <h5>comments are disabled for this article</h5>
  {% endif %}
  
  {% if comment_count %}
  <hr/>
  <div id="comment-list">
    {% render_comment_list for object %}
  </div>
  {% endif %}
</div>
{% endblock %}
